<div id="content-footer" class="navmenu-default hidden-xxs">
	<div style="padding-left: 10px;">&copy; BreezeJS 2012-2015</div>
	<div style="flex-grow:2"><img src="/images/logos/mit.png" height="25px" width="25px"> Free &amp; open source</div>
	<div style="padding: 4px 10px 5px 8px; background-color: #000000"><a href="http://www.ideablade.com/" target="_blank"><img src="/images/logos/ideablade-new-logo-h21.png" alt="ideablade"></a></div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/styles/bootstrap/js/bootstrap.js"></script>
<script src="/styles/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="/js/highlightselection.js"></script>
<script src="/js/search-google.js"></script>
<!-- <script src="/js/search-github.js"></script> -->
{% if {{page.custom-js}} %}
<script src="{{page.custom-js}}"></script>
{% endif %}

<!-- Start of Async HubSpot Analytics Code -->
<!-- removed for breeze-sandbox -->
<!-- End of Async HubSpot Analytics Code -->